@import url('https://fonts.googleapis.com/css?family=Lato|Mina');

#top{
    border: 2px;
    border-style: solid;
    border-color: black;
    background-color:rgb(187, 172, 172);
    
    
   border-right: none;
   border-left: none;
    
    font-size: 2em;
    
    

}


.navbar-brand{
    font-family: 'Mina', sans-serif;
    font-size: 28pt;
    margin-left: 30px;
    margin-top: 10px;
   

 
 }
 .text-center{
    margin-top: 20px;

 }
#main-content{
    border: 1px;
   
    border-style: solid;
   text-align:center;
   text-decoration: none;
    background-color: rgb(54, 52, 52);
    color: white;
    opacity: 1.5;

}
#Beef-content{
    border: 1px;
   
    border-style: solid;
   text-align:center;
   text-decoration: none;
    background-color: rgb(54, 52, 52);
    color: white;
    opacity: 1.5;
    padding: 0px;
    margin: 0px;

}
#Sushi-content{
        border: 1px;
      
        border-style: solid;
       text-align:center;
       text-decoration: none;
        background-color: rgb(54, 52, 52);
        color: white;
        opacity: 1.5;
    
    }
    @media (max-width: 575.98px) {
        #Beef-content{
            margin-top: 20px;
                padding-top: 20px;
    
        }

    }
    
   @media   (max-width: 767px) {
    
        #Sushi-content {

            margin-top: 20px;
            padding-top: 20px;
        }
    }

.navbar-toggle{
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 3px solid black;
    border-radius: 4px;;
}
